body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    margin-top: 20px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.nav-bar a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.content > div {
    border: 1px solid #ddd;
    padding: 10px;
}

.banner {
    border: 2px solid green;
    padding: 10px;
}

.testimonials {
    grid-column: span 3;
    border: 2px solid orange;
    margin-top: 20px;
    padding: 10px;
}

.testimonials img {
    max-width: 100px;
    margin: 5px;
}

.carousel-title {
    font-size: 2rem; /* Tamaño del título más grande */
    color: #ffd700; /* Color amarillo dorado */
    text-shadow: 2px 2px 4px #000; /* Sombra para mayor visibilidad */
  }

.carousel-text {
    font-size: 1.2rem; /* Tamaño más grande para el texto */
    color: #ffffff; /* Color blanco */
    text-shadow: 1px 1px 3px #000; /* Sombra para mejorar la legibilidad */
}

.carousel-control-prev,
  .carousel-control-next {
    color: rgb(255, 242, 0); /* Fondo semitransparente */
  }